.form-group{
    background-color: rgb(255, 0, 0);
    padding-bottom: 1%;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.searchbar-width{
    width: 98%;
    margin: .5% 1%;
}
.btn-light{
    color: red;
}

.search-label{
    color: white;
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    font-size: large;
}

